SUPABASE_URL=https://grzghjoughjqyguabaxx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdyemdoam91Z2hqcXlndWFiYXh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk2Nzk3MSwiZXhwIjoyMDkwNTQzOTcxfQ.7aNhMAAqhn4wGaOZkjSQXS10Kna4fcv11h8H4EJGN3E
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdyemdoam91Z2hqcXlndWFiYXh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Njc5NzEsImV4cCI6MjA5MDU0Mzk3MX0.lIXBtNMhAQBVR-0uctE52ULzFcyegxPnKr3CAIpJLcU
VAPI_API_KEY= 5bcfa962-7037-412c-b72d-3b343b857c12
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
CARTESIA_VOICE_TH=
CARTESIA_VOICE_EN=
DEMO_VAPI_AGENT_ID=
DEMO_TWILIO_NUMBER=
FRONTEND_URL=http://localhost:3001
BASE_URL=
NODE_ENV=development
PORT=3000
